/* Fonts */
body {
    font-family: 'Inter', sans-serif;
    overflow: hidden;
}

.serif-font {
    font-family: 'Playfair Display', serif;
}

/* Input Placeholder */
input::placeholder {
    color: #A1A1AA;
    font-weight: 300;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

/* Hide Scrollbar */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


/* Password Toggle Logic */

.eye-toggle .eye-open,
.eye-toggle .eye-closed {
    display: none;
}

.eye-toggle.hidden-pass .eye-closed {
    display: block;
}

.eye-toggle.visible-pass .eye-open {
    display: block;
}


/* Floating Toast */

#toast-container {
    z-index: 9999;
    pointer-events: none;
}

.toast-pill {
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 14px 28px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.04);
    transform: translateY(-150%);
    opacity: 0;
    transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
}

.toast-pill.show {
    transform: translateY(0);
    opacity: 1;
}

.toast-pill.error {
    border-left: 3px solid #000;
}

.toast-text {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    font-weight: 600;
    color: #000;
}


/* Tooltip Styling */

.tippy-box[data-theme~='minimal-dark'] {
    background-color: #000;
    color: #fff;
    border-radius: 2px;
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding: 3px 6px;
    max-width: 160px;
}

.tippy-box[data-theme~='minimal-dark'] .tippy-content {
    padding: 2px 6px;
}


/* Tooltip Icon */

.info-icon {
    cursor: help;
    opacity: 0.4;
    transition: opacity 0.3s;
}

.info-icon:hover {
    opacity: 1;
}
